doctype html
html(lang="nl", xmlns="http://www.w3.org/1999/xhtml")
    include ../includes/head
    body
        #wrap
            include ../includes/header

            block content

            include ../includes/footer
